<h3>Leave a comment</h3>
<form
   method="POST"
   action="https://dnwcomments.herokuapp.com/v3/entry/github/drugsandwires/drugsandwires/main/comments"
>
   <label>Name: <input type="text" name="fields[name]" /></label>
   <label
      >Website URL (optional): <input type="text" name="fields[url]"
   /></label>
   <label>
      Comment message:
      <textarea name="fields[message]"></textarea>
   </label>
   <input
      name="options[location]"
      type="hidden"
      value="{{ page.url | replace: '.html', '' }}"
   />

   <button type="submit">Submit</button>
</form>

<h2>Comments</h2>
{% assign replaceurl = page.url | replace: ".html", "" | remove_first: "/" %} {%
assign spliturl = replaceurl | split: "/" %}
<!-- {{ spliturl | size }} -->
{% assign urlpart1 = spliturl[0] %} {% assign urlpart2 = spliturl[1] %} {%
assign urlpart3 = spliturl[2] %}

<ul>
   {% for comment_hash in site.data.comments[urlpart1][urlpart2][urlpart3] %}
   {% assign comment = comment_hash[1] %}
   <li>
      <h3>{{comment.name}}</h3>
      <p>{{comment.message}}</p>
      <button>Reply</button>
   </li>
   {% endfor %}
</ul>
