<!-- <h3>{{image.name}} by 
  {% if image.artist-url %}
  <a href="{{image.artist-url}}" target="_blank">
    {% if image.artist-comic %}
    {{image.artist-comic}}</a>'s {{image.artist-name}}
    {% else %}
    {{image.artist-name}}</a>
    {% endif %}
    {% else %}

    {{image.artist-name}}
  {% endif %}</h3> -->
<!-- <a href="{{pagegallery.assetpath}}/{{image.file}}" target="_blank" >-->

<img
   src="{{pagegallery.assetpath}}/{{image.file}}"
   class="gallery__list__image"
   loading="lazy"
/>
<!-- </a> -->
