<ul class="gallery__list">
   {% for post in site.categories[include.gallery] %}
    {% if include.tag %}
      {% if post.tags contains include.tag %}
     
      {% assign splitimage = post.image | split: "." %}
      
        <li class="gallery__list__item gallery__list__item--notclicky">
          <a href="{{post.url}}">
            <p> {{post.title}} by {{post.artist}} </p>
            <img
                src="/assets/img/galleries/{{include.gallery}}/{{ splitimage[0] }}.webp"
                class="gallery__list__image"
                loading="lazy"
          /></a>
        </li>
      {% endif %}
    {% else %}
    {% assign splitimage = post.image | split: "." %}
   <li class="gallery__list__item gallery__list__item--notclicky">
      <a href="{{post.url}}">
        <p>{{post.title}} by {{post.artist}}</p>
         <img
            src="/assets/img/galleries/{{include.gallery}}/{{ splitimage[0] }}.webp"
            class="gallery__list__image"
            loading="lazy"
      /></a>
   </li>
   {% endif %}
   {% endfor %}
</ul>
