<div class="header">
   <div class="header__background"></div>
   <div class="header__title">
      <a href="/" class="header__title__link">
         <img
            src="/assets/img/site/header_logo_LARGE.png"
            class="header__title__image"
      /></a>
      <div class="hiveworks__wrapper--mobile">
         <div class="hiveworks--mobile" id="top-space-mobile"></div>
      </div>
   </div>
   <div class="header__icons">
      <div class="header__icons__support">
         <a href="https://www.hiveworkscomics.com/" target="_blank">
            <img
               src="/assets/img/site/hw-bee.svg"
               alt="Hiveworks logo"
               class="header__icons__icon"
            />
         </a>
         <a href="https://www.patreon.com/drugsandwires" target="_blank"
            ><img
               src="/assets/img/site/icon_patreon.png"
               alt="Heart icon, text saying 'Support us on Patreon'"
               class="header__icons__icon"
         /></a>
         <a href="/feed" target="_blank"
            ><img
               src="/assets/img/site/icon_rss.png"
               alt="RSS"
               class="header__icons__icon"
         /></a>
      </div>
      <div class="header__icons__social">
         <a href="https://twitter.com/MarySafroArt" target="_blank"
            ><img
               src="/assets/img/site/icon_twitter.png"
               alt="Twitter"
               class="header__icons__icon"
         /></a>
         <a href="https://www.facebook.com/DrugsAndWires/" target="_blank"
            ><img
               src="/assets/img/site/icon_facebook.png"
               alt="Facebook"
               class="header__icons__icon"
         /></a>
         <a href="https://www.instagram.com/cryodraws/" target="_blank"
            ><img
               src="/assets/img/site/icon_instagram.png"
               alt="Instagram"
               class="header__icons__icon"
         /></a>
      </div>
   </div>
   <div class="header__menu">
      <button class="header__menu__button" id="header__menu__button">
         Menu
      </button>
      <div
         class="header__menu__navigation hidden"
         id="header__menu__navigation"
      >
         <div
            class="header__menu__navigation__button__container"
            id="header__menu__navigation__button__container"
         >
            <button class="header__menu__navigation__button">Close menu</button>
         </div>
         <div class="header__menu__navigation__middle">
            <div class="header__menu__navigation__middle__right">
               <div class="header__menu__navigation__social">
                  <a href="https://twitter.com/MarySafroArt" target="_blank"
                     ><img
                        src="/assets/img/site/icon_twitter.png"
                        alt="Twitter"
                        class="header__icons__icon"
                  /></a>
                  <a
                     href="https://www.facebook.com/DrugsAndWires/"
                     target="_blank"
                     ><img
                        src="/assets/img/site/icon_facebook.png"
                        alt="Facebook"
                        class="header__icons__icon"
                  /></a>
                  <a href="https://www.instagram.com/cryodraws/" target="_blank"
                     ><img
                        src="/assets/img/site/icon_instagram.png"
                        alt="Instagram"
                        class="header__icons__icon"
                  /></a>

                  <a href="/feed" target="_blank"
                     ><img
                        src="/assets/img/site/icon_rss.png"
                        alt="RSS"
                        class="header__icons__icon"
                  /></a>
               </div>
               <div class="header__menu__navigation__hiveworks">
                  <a href="https://www.hiveworkscomics.com/" target="_blank">
                     <img
                        src="/assets/img/site/hw-bee.svg"
                        alt="Hiveworks logo"
                        class="header__icons__icon"
                     />
                  </a>
               </div>
            </div>
            <div class="header__menu__navigation__middle__left">
               <div class="header__menu__navigation__main">
                  {% for item in site.data.navigation.items %}
                  <div class="navigation__item">
                     {% if item.url contains "http" %}

                     <a
                        href="{{ item.url }}"
                        class="navigation__link"
                        target="_blank"
                     >
                        <div class="navigation__item__text">{{item.name}}</div>
                        <div class="navigation__item__image">
                           <img
                              src="{{ item.image }}"
                              class="navigation__item__image--normal"
                           />
                           <img
                              src="{{ item.image-hover }}"
                              class="navigation__item__image--hover"
                           />
                        </div>
                     </a>
                     {% else %}
                     <a href="/{{item.url}}" class="navigation__link">
                        <div class="navigation__item__text">{{item.name}}</div>
                        <div class="navigation__item__image">
                           <img
                              src="{{ item.image }}"
                              class="navigation__item__image--normal"
                           />
                           <img
                              src="{{ item.image-hover }}"
                              class="navigation__item__image--hover"
                           />
                        </div>
                     </a>
                     {% endif %}
                  </div>
                  {% endfor %}
               </div>
               <a
                  href="https://www.patreon.com/drugsandwires"
                  target="_blank"
                  class="header__menu__navigation__patreon"
                  ><img
                     src="/assets/img/site/icon_patreon.png"
                     alt="Heart icon, text saying 'Support us on Patreon'"
                     class="header__icons__icon"
               /></a>
            </div>
         </div>
      </div>
   </div>
</div>
