<div class="header">
   <div class="header__background"></div>
   <div class="header__title">
      <a href="/" class="header__title__link">
         <img
            src="/assets/img/site/header_logo_LARGE.png"
            class="header__title__image"
      /></a>
   </div>
   <div class="header__icons">
      <div class="header__icons__support">
         <img
            src="/assets/img/site/icon_patreon.png"
            alt="Heart icon, text saying 'Support us on Patreon'"
            class="header__icons__icon"
         />
         <img
            src="/assets/img/site/icon_rss.png"
            alt="RSS"
            class="header__icons__icon"
         />
         <img
            src="/assets/img/site/icon_tapas.png"
            alt="Tapas"
            class="header__icons__icon"
         />
         <img
            src="/assets/img/site/icon_webtoon.png"
            alt="Webtoons"
            class="header__icons__icon"
         />
      </div>
      <div class="header__icons__social">
         <img
            src="/assets/img/site/icon_twitter.png"
            alt="Twitter"
            class="header__icons__icon"
         />
         <img
            src="/assets/img/site/icon_facebook.png"
            alt="Facebook"
            class="header__icons__icon"
         />
         <img
            src="/assets/img/site/icon_instagram.png"
            alt="Instagram"
            class="header__icons__icon"
         />
      </div>
   </div>
   <div class="header__menu">
      <button>Menu</button>
   </div>
</div>
