<div class="newsbox">
   <div class="newsbox__sim">
      <img src="/assets/img/site/newsbox_sim.png" />
   </div>
   <svg
      viewbox="0 0 75 75"
      height="75"
      width="100"
      class="newsbox__speech"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
   >
      <polygon points="5,50 95,5 95,65" stroke="#FFAA00" fill="#0D0700" />
   </svg>
   {% if site.data.newsbox.link and site.data.newsbox.link != "" %}
      <a class="newsbox__bubble" href="{{ site.data.newsbox.link }}" target="_blank">
         <p class="newsbox__text">_{{ site.data.newsbox.text }}</p>
      </a>
   {% else %}
      <div class="newsbox__bubble">
         <p class="newsbox__text">_{{ site.data.newsbox.text }}</p>
      </div>
   {% endif %}
</div>
