<aside class="comments">
   <div class="comments__form">
      <h3 class="comments__form__title">Leave a comment</h3>
      <form
         method="POST"
         action="https://dnwcomments.herokuapp.com/v3/entry/github/drugsandwires/drugsandwires/main/comments"
      >
         <div class="comments__form__short">
            <label class="comments__form__label"
               >Name
               <input
                  type="text"
                  name="fields[name]"
                  class="comments__form__input"
                  required
                  placeholder="Your name"
            /></label>

            <label class="comments__form__label"
               >Email
               <input
                  type="email"
                  name="fields[email]"
                  class="comments__form__input"
                  required
                  placeholder="Email address"
            /></label>
         </div>
         <label class="comments__form__label"
            >Website <span>optional</span>
            <input
               type="text"
               class="comments__form__input"
               name="fields[url]"
               placeholder="Your website URL"
         /></label>
         <label class="comments__form__label">
            Comment
            <textarea
               class="comments__form__input"
               name="fields[message]"
               required
               placeholder="Enter your message here"
            ></textarea>
         </label>
         <input
            name="options[location]"
            type="hidden"
            value="{{ page.url | replace: '.html', '' }}"
         />
         <div class="comments__form__button">
            <button type="submit">Post comment</button>
         </div>
      </form>
   </div>
   <div class="comments__view">
      {% assign replaceurl = page.url | replace: ".html", "" | remove_first: "/"
      %} {% assign spliturl = replaceurl | split: "/" %}
      <!-- {{ spliturl | size }} -->
      {% assign urlpart1 = spliturl[0] %} {% assign urlpart2 = spliturl[1] %} {%
      assign urlpart3 = spliturl[2] %} {% assign commentnumber =
      site.data.comments[urlpart1][urlpart2][urlpart3] | size %} {% if
      commentnumber == 1 %}
      <h2 class="comments__view__title">1 comment</h2>
      {% else %}
      <h2>{{ commentnumber }} comments</h2>
      {% endif %}
      <ul class="comments__view__list">
         {% for comment_hash in site.data.comments[urlpart1][urlpart2][urlpart3]
         %} {% assign comment = comment_hash[1] %}
         <li class="comments__view__list__item">
            <div class="comments__view__list__item__avatar"></div>
            <div class="comments__view__list__item__data">
               <h3 class="comments__view__list__item__name">
                  {{comment.name}}
               </h3>
               <p class="comments__view__list__item__datetime">
                  {{comment.date | date: "%B %d %Y"}} @ {{comment.date | date:
                  "%R"}}
               </p>
            </div>
            <p class="comments__view__list__item__message">
               {{comment.message}}
            </p>
            <div class="comments__view__list__item__button">
               <button>Reply</button>
            </div>
         </li>
         {% endfor %}
      </ul>
   </div>
</aside>
