<div class="comic__page__wrapper">
   <div class="comic__page">
     <a href="{{ page.url }}" class="comic__page__link">
       {% if page.imagepaths and page.imagepaths != "" %}
         {% assign paths = page.imagepaths | split: " " %}
         {% for path in paths %}
           <img
           src="/assets/img/pages/{{path}}"
           alt="{{ page.title }}"
           class="comic__page__image"
           />
         {% endfor %}
       {% elsif page.imagepath and page.imagepaths != "" %}
         <img
             src="/assets/img/pages/{{ page.imagepath }}"
             alt="{{ page.title }}"
             class="comic__page__image"
         />
       {% elsif page.pages and page.pages != "" %}
         {% assign pagenos = page.pages | split: " " %}
         {% for pageno in pagenos %}          
            <img
                src="/assets/img/pages/ch{% if page.chapter < 10 %}0{% endif %}{{ page.chapter }}/{% if pageno.size == 1 %}0{% endif %}{{ pageno }}.jpg"
                alt="Chapter {{ page.chapter }} Page {{ pageno }}"
                class="comic__page__image"
            />
         {% endfor %}
       {% else %}
          <img
            src="/assets/img/pages/ch{% if page.chapter < 10 %}0{% endif %}{{ page.chapter }}/{% if page.page < 10 %}0{% endif %}{{page.page}}.jpg"
            alt="Chapter {{ page.chapter }} Page {{ page.page }}"
            class="comic__page__image"
          />
       {% endif %}
       <div class="comic__info__meta">
         <h3 class="comic__info__title">{{ page.title }}</h3>
         <p class="comic__info__date">
             {{ page.date | date: "%B %d" }}, {{ page.date | date: "%Y" }}
         </p>
       </div>
     </a>
   </div>
 </div>