{% if paginator.total_pages > 1 %}

<ul class="paginate">
   {% if paginator.previous_page %}
   <li class="previous paginate__nav">
      <a
         href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
      >
         <img src="/assets/img/site/nav_prev.png" alt="Previous" />
      </a>
   </li>
   {% else %}
   <li class="paginate__nav"></li>
   {% endif %} {% if paginator.next_page %}
   <li class="next paginate__nav">
      <a
         href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
         ><img src="/assets/img/site/nav_next.png" alt="Next"
      /></a>
   </li>
   {% else %}
   <li class="paginate__nav"></li>
   {% endif %}
</ul>
{% endif %}
