{% if post.categories contains "comic" %}
  <div>
    {% if post.imagepaths %}
      {% assign paths = post.imagepaths | split: " " %}
      {% for path in paths %}
        <img src="{{ site.url }}/assets/img/pages/{{path}}" alt="{{post.title}}" />
      {% endfor %}
    {% elsif post.imagepath %}
      <img
        src="{{ site.url }}/assets/img/pages/{{post.imagepath}}"
        alt="{{post.title}}"
        srcset="{{ site.url }}/assets/img/pages/{{post.imagepath}} 850w, {{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if pageno.size == 1 %}0{% endif %}0{{pageno}}.webp 165w"
      />
    {% elsif post.pages %}
      {% assign pagenos = post.pages | split: " " %}
      {% for pageno in pagenos %}
        <img
          src="{{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if pageno.size == 1 %}0{% endif %}0{{pageno}}.jpeg"
          alt="Chapter {{post.chapter}} Page {{pageno}}"
          srcset="{{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if pageno.size == 1 %}0{% endif %}0{{pageno}}.jpeg 850w, {{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if pageno.size == 1 %}0{% endif %}0{{pageno}}.webp 165w"
        />
      {% endfor %}
    {% else %}
      <img
        src="{{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if post.page < 10 %}0{% endif %}0{{post.page}}.jpeg"
        alt="Chapter {{post.chapter}} Page {{post.page}}"
        srcset="{{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if post.page < 10 %}0{% endif %}0{{post.page}}.jpeg 850w, {{ site.url }}/assets/img/pages/ch0{{post.chapter}}/page{% if post.page < 10 %}0{% endif %}0{{post.page}}.webp 165w"
      />
    {% endif %}
  </div>
  <div>{{ post.content }}</div>
{% elsif post.categories contains "news" %}
  {% if post.image and post.image != "" %}
    <img src="{{ site.url }}/assets/img/news/{{post.image}}" alt="{% if post.imagealt %}{{ post.imagealt }}{% endif %}" />
    <div>{{ post.content }}</div>
  {% endif %}
{% endif %}
