.header
  background-color: black
  width: 100%
  display: flex
  padding: 1rem 1rem 0 1rem
  margin-bottom: 2rem
  box-sizing: border-box
  +for-tablet-portrait-up  
    padding: 1rem 1rem 0 1rem
    margin-bottom: 0
  +for-tablet-landscape-up   
    padding: 1.5rem 1.5rem 0 1.5rem
  .header__background
    position: absolute
    width: 100%
    background-image: url("/assets/img/site/header_bg_overlay_mob.png")
    z-index: -1000
    background-size: cover
    background-repeat: no-repeat
    background-blend-mode: multiply
    top: -65px
    left: 0
    height: 250px
    +for-tablet-portrait-up
      background-image: url("/assets/img/site/header_bg_overlay.png")
      top: 135px
      height: 225px
    +for-tablet-landscape-up
      height: 275px
      top: 105px
    +for-desktop-up
      top: -4rem
      height: 500px
      top: -55px
      background-position: bottom    
  .header__title
    flex-grow: 1
    position: relative
    padding-bottom: 3.5rem
    +for-tablet-portrait-up
      padding-bottom: 0
    .header__title__link
      display: block
      max-width: calc(100% - 2rem)
    .header__title__image
      max-width: 235px
      width: 100%
      +for-tablet-portrait-up
        max-width: 381px      
      +for-tablet-landscape-up
        width: 475px
        max-width: unset
  .header__icons
    display: none
    +for-tablet-portrait-up
      display: flex
      flex-direction: column
      justify-content: center
    +for-tablet-landscape-up
      justify-content: flex-end
      flex-direction: row  
    +for-desktop-up
      align-content: flex-start
      gap: 0.75rem
      


    .header__icons__support, .header__icons__social
      display: flex
      align-content: flex-start
      gap: 0.75rem
      width: calc(100% - 1rem)
      margin-bottom: 0.75rem
      justify-content: flex-end
      +for-tablet-landscape-up
        width: auto
        margin-left: 0.75rem
      +for-desktop-up
        margin-left: 0
      .header__icons__icon
        height: 30px
  .header__menu
    text-align: right
    +for-tablet-portrait-up
      display: none
    .header__menu__button
      color: $orange
      background-color: black
      border: none
      font-family: "Quantico", sans-serif
      text-transform: uppercase
      font-weight: 900
      margin: 0rem -0.15rem
      font-size: 1.3rem
      cursor: pointer

      &:hover
        background-color: $orange
        color: black
    .header__menu__navigation
      display: flex
      flex-direction: column
      justify-content: space-between
      background-image: url("/assets/img/site/bg.jpg")
      background-size: cover
      width: 100%
      height: 100%
      position: fixed
      top: 0
      bottom: -1px
      background-color: $purple
      z-index: 1000
      &__middle
        display: flex
        flex-direction: row-reverse
        flex-grow: 1
        &__left, &__right
          display: flex
          flex-direction: column
          
        &__left
          flex-grow: 3
          background-color: black
          justify-content: space-between
        &__right
          justify-content: flex-end
          flex-grow: 1
      &__patreon
        padding: 2vh 5vw
        display: block
        background-color: black
        text-align: right
        img
          height: 5vh
          max-height: 50px
          min-height: 30px
      &__hiveworks
        padding: 2vh 1vw
        img
          height: 100%
          display: block
          margin: 0 auto
          width: 7vh
          height: 7vh
          max-height: 60px
          max-width: 60px
          min-height: 35px
          min-width: 35px
      &__button
        padding: 2vh 5vw
        color: $orange
        background-color: black
        border: none
        font-family: "Quantico", sans-serif
        text-transform: uppercase
        font-weight: 500
        width: 100%
        text-align: right
        box-sizing: border-box
        font-size: 1.2rem
      &__button__container
        background-color: black
      &__social
        display: flex
        flex-direction: column
        gap: 1.5rem
        margin: 1rem
        padding-bottom: 2rem
        .header__icons__icon
          width: 6vh
          height: 6vh
          max-height: 50px
          max-width: 50px
          min-height: 35px
          min-width: 35px
          margin: 0 auto
          display: block
      &__main
        background-color: black
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: stretch
        box-sizing: border-box
        width: max-content
        margin: 0 auto
        .navigation__item
          width: 100%
          .navigation__link
            box-sizing: border-box
            display: flex
            justify-content: flex-end
            align-items: center
            text-decoration: none
            flex-direction: row
            .navigation__item__image
              max-width: 150px
              max-height: 150px
              min-width: 50px
              min-height: 50px
              position: relative
              height: 11vh
              width: 11vh
              .navigation__item__image--normal
                width: 100%
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0
                margin: 0 2px 2px 0
              .navigation__item__image--hover
                display: none
                width: 100%
                position: absolute
                top: 0
                left: 0
                bottom: 0
                right: 0
                margin: 2px 0 0 2px
            .navigation__item__text
              font-size: 1.5rem
              font-family: "Quantico", sans-serif
              text-transform: uppercase
              padding-right: 1rem
              +for-tiny-phones-only
                font-size: 1rem
            &:hover
              .navigation__item__image
                .navigation__item__image--normal
                  display: none
                .navigation__item__image--hover
                  display: unset
    .hidden
      left: 100vw
      right: -200vw
      -webkit-transition: left, 0.5s ease-in-out
      -moz-transition: left, 0.5s ease-in-out
      -ms-transition: left, 0.5s ease-in-out
      -o-transition: left, 0.5s ease-in-out
      transition: left, 0.5s ease-in-out
    .unhidden
      left: 0
      right: 0
      -webkit-transition: left, 0.5s ease-in-out
      -moz-transition: left, 0.5s ease-in-out
      -ms-transition: left, 0.5s ease-in-out
      -o-transition: left, 0.5s ease-in-out
      transition: left, 0.5s ease-in-out