.hiveworks 
  display: none
  +for-ad-breakpoint-up
    display: unset
  &--160
    display: none
    +for-desktop-up
      display: block
      position: absolute
      width: 160px
      height: 600px
      background-color: grey
      right: calc((((100vw - 1000px) / 2) - 2rem) * -1)
      // top: 20rem
      // right: -125px
    +for-ad-big-breakpoint-up
      right: -12rem
      
  &--720
    +for-ad-breakpoint-up
      width: 720px
      height: 90px
      background-color: grey
      margin: 0 4rem 0 auto
  &--300
    +for-ad-breakpoint-up
      width: 300px
      height: 250px
      background-color: grey
      flex-shrink: 0
      margin-left: 2rem
  &--mobile
    width: 320px
    height: 50px
    background-color: grey
    margin: 0 auto 1rem auto
    +for-tablet-portrait-up
      margin-bottom: 0
    +for-ad-breakpoint-up
      display: none
    p
      margin-block-start: 0
      margin-block-end: 0
      padding: 1rem
  &__wrapper
    display: none
    +for-ad-breakpoint-up
      display: block
      background-color: black
      max-width: 1000px
      margin: 0 auto
      padding-top: 1rem
    &--mobile     
      +for-tablet-portrait-up
        background-color: black
      +for-ad-breakpoint-up
        display: none
  p
    text-align: center
    font-size: 3rem
    margin-block-start: 0
    margin-block-end: 0
    padding: 1rem
    line-height: 1em
  &__container
    display: flex