.navigation
  display: none
  +for-tablet-portrait-up
    justify-content: space-evenly
    background-color: black
    display: flex
    padding: 0 0.5rem 1rem 0.5rem
    position: relative
  +for-tablet-landscape-up
    padding: 0 1rem 1rem 1rem
  +for-desktop-up
    padding-bottom: 1rem
  .navigation__item
    flex: 1 1 0px
    position: relative
    
  .navigation__link
    display: block
    text-decoration: none
    margin: auto
    .navigation__item__image
      display: block
      width: 100%
      position: relative
      +for-tablet-landscape-up
        padding: 0.4rem
        box-sizing: border-box
      .navigation__item__image--normal
        display: block
        width: 95%
        margin: 0 5% 5% 0
        +for-tablet-landscape-up
          width: 97%
          margin: 0 3% 3% 0
        +for-desktop-up
          width: 98%
          margin: 0 2% 2% 0
      .navigation__item__image--hover
        display: none
        width: 95%
        margin: 5% 0 0 5%
        +for-tablet-landscape-up
          margin: 3% 0 0 3%
          width: 97%
        +for-desktop-up
          margin: 2% 0 0 2%
          width: 98%
        
    .navigation__item__text
      
      font-family: "Quantico", sans-serif
      text-transform: uppercase
      text-align: center
      font-weight: 800
      +for-tablet-portrait-up
        font-size: 1rem
        padding-top: 0.5rem
        padding-right: 2.5%
        margin: 0 -0.5rem
      +for-desktop-up
        font-size: 1.5rem
    &:hover
      .navigation__item__text
        color: $purple
      .navigation__item__image
        .navigation__item__image--normal
          display: none
        .navigation__item__image--hover
          display: block
      
