.navigation
  display: none
  justify-content: space-evenly
  background-color: black
  +for-tablet-portrait-up
    display: flex
    padding-bottom: 1rem
  .navigation__item
    +for-tablet-portrait-up
      width: 100px
    +for-tablet-landscape-up
      width: 130px
    +for-desktop-up
      width: 170px
  .navigation__link
    display: block
    text-decoration: none

    .navigation__item__image
      position: relative
      margin: auto
      +for-tablet-portrait-up
        width: 70px
        height: 70px
      +for-tablet-landscape-up
        width: 100px
        height: 100px
      +for-desktop-up
        width: 135px
        height: 135px
        
      .navigation__item__image--normal
        position: absolute
        top: 0
        left: 0
        +for-tablet-portrait-up
          width: 67px
          height: 67px
        +for-tablet-landscape-up
          width: 95px
          height: 95px
        +for-desktop-up
          width: 130px
          height: 130px
        
      .navigation__item__image--hover
        display: none
        position: absolute
        bottom: 0
        right: 0
        +for-tablet-portrait-up
          width: 67px
          height: 67px
        +for-tablet-landscape-up
          width: 95px
          height: 95px
        +for-desktop-up
          width: 130px
          height: 130px
        
    .navigation__item__text
      
      font-family: "Quantico", sans-serif
      text-transform: uppercase
      text-align: center
      +for-tablet-portrait-up
        font-size: 1rem
      +for-desktop-up
        font-size: 1.5rem
    &:hover
      .navigation__item__text
        color: $purple
      .navigation__item__image
        .navigation__item__image--normal
          display: none
        .navigation__item__image--hover
          display: unset
      
