.newsbox
  display: none
  margin-left: 20%
  color: $orange
  padding: 0 0.75rem
  max-width: 1000px
  box-sizing: border-box
  position: relative
  +for-tablet-portrait-up
    display: block
    background-color: black
    box-shadow: 10px 10px 20px #00000060, -10px 10px 20px #00000060
    margin: 0 1.5rem
    padding-bottom: 3rem
    padding-top: 1rem
  +for-tablet-landscape-up
    margin-left: max(3rem, calc((100vw - 1000px) / 2))
    margin-right: max(3rem, calc((100vw - 1000px) / 2))
    padding: 1rem 1.5rem 2rem 1.5rem
  +for-desktop-up
    margin: 0 auto
    padding: 1rem 4rem 2rem 3rem
  &__bubble
    display: block
    border: $orange solid 3px
    background-image: url('/assets/img/site/tile.png')
    padding: 0.5rem 0.75rem
    text-decoration: none
    +for-tablet-portrait-up
      padding-bottom: 2rem
      width: 70%
      margin-left: auto
    +for-ad-breakpoint-up
      // margin-right: calc(max(0rem, (100vw - 3rem - 1.5rem - 720px) / 2))
    +for-tablet-landscape-up
      margin-right: 0
      width: 75%
      padding: 0.75rem 1rem 2rem 1rem
    +for-desktop-up
      width: 80%
  &__text
    font-size: 0.875rem
    margin-block-start: 0
    margin-block-end: 0
    line-height: 1.2em
    font-weight: 100
    width: fit-content
    margin: 0 auto
    +for-tablet-portrait-up
      font-size: 1rem
    +for-tablet-landscape-up
      font-size: 1.125rem
  &__speech
    position: absolute
    bottom: -10px
    left: -50px
    stroke-width: 10px
    color: $orange
    transform: scale(0.3, 0.3)
    +for-tablet-portrait-up
      transform: scale(0.5, 0.5)
      left: calc(30% - 97px)
      stroke-width: 6px
      bottom: 3rem
    +for-tablet-landscape-up
      bottom: 2rem
      left: calc(25% - 98px)
    +for-desktop-up
      bottom: 2rem
      left: calc(20% - 84px)
  &__sim
    position: absolute
    height: 170px
    left: -28%
    z-index: -1
    top: 15px
    +for-tablet-portrait-up
      z-index: 1
      height: 250px
      top: 0.5rem
      left: -0.5rem
    +for-tablet-landscape-up
      left: -2rem
      top: -6rem
      height: 350px
    +for-desktop-up
      top: -5rem
    img
      max-width: 100%
      max-height: 100%
