.news
  padding-top: 1rem
  +for-tablet-landscape-up
    padding-top: 0
  +for-desktop-up
    padding-top: 1rem
  &__header
    border: 3px solid $pink
    width: 100%
    margin: 1rem auto 2rem auto
    position: relative
    padding: 0 3rem
    box-sizing: border-box
    +for-tablet-portrait-up
      margin: 1rem auto
      width: 85%
    +for-tablet-landscape-up
      width: 60%
      margin: 0 auto 3rem auto
    +for-desktop-up
      margin-bottom: 2rem
    &__image
      width: 75px
      height: 75px
      position: absolute
      left: 0.5rem
      top: -0.5rem
      +for-tablet-portrait-up    
        width: 125px
        height: 125px
        top: -1.25rem
        
    &__title
      text-align: right
      font-size: 2rem
      text-transform: uppercase
      margin-block-start: 0.5rem
      margin-block-end: 0.5rem
      +for-tablet-portrait-up
        font-size: 3.25rem
      +for-tablet-landscape-up
        text-align: center
        margin-left: 75px
  &__article
    margin-top: 1rem
    display: flex
    flex-direction: column
    align-items: center
    box-sizing: border-box
    +for-tablet-portrait-up
      flex-wrap: wrap
      flex-direction: row
      margin-top: 3rem
    +for-tablet-landscape-up
      display: grid
      grid-template-columns: auto 1fr
      grid-template-rows: auto auto
      align-items: unset
    &__header
      &__image
        order: 1
        width: 100%
        height: 200px
        object-fit: cover
        +for-tablet-portrait-up
          order: 1
          width: 250px
          height: unset
        +for-tablet-landscape-up
          grid-column: 1 / 2
          grid-row: 1 / 3
          width: 300px
        +for-desktop-up
          width: 350px
      &__info
        order: 2
        box-sizing: border-box
        background-color: $pink
        color: black
        padding: 0.75rem
        flex-shrink: 2
        text-align: right
        width: 100%
        +for-tablet-portrait-up
          padding: 1rem 2rem
          order: 2
          width: calc(100% - 250px)
        +for-tablet-landscape-up
          grid-column: 2 / 3
          grid-row: 1 / 2
          width: unset
          padding: 0.5rem 1.5rem 1rem 1rem
        +for-desktop-up
          padding: 1rem 1.5rem 1.5rem 1rem
      &__title
        text-transform: uppercase        
        font-size: 1.375rem
        margin-block-start: 0.5rem
        margin-block-end: 1rem
        text-align: left    
        +for-tablet-portrait-up
          margin-block-start: 0
          margin-block-end: 0
          margin-block-end: unset
          text-align: unset
          font-size: 1.875rem
          line-height: 1.4em
      &__date
        font-weight: 700
        margin-block-start: 0.5rem
        margin-block-end: 0.5rem
        font-size: 1.25rem
        +for-tablet-portrait-up
          font-size: 1.5rem
          margin-block-end: 0
          margin-block-start: 0
    &__content
      width: 100%
      box-sizing: border-box
      padding: 1rem 0.5rem
      line-height: 1.4em
      max-width: 550px
      order: 3
      +for-tablet-portrait-up
        margin: 2rem 1rem 2rem auto
        padding: 0
        box-sizing: unset
        width: unset
      +for-tablet-landscape-up
        grid-column: 2 / 3
        grid-column: 2 / 3
        margin: 1rem 0 2rem 2rem
      +for-desktop-up
        margin-top: 1rem
  &__latest
    background-color: black
    margin: 0 -0.75rem
    padding: 1rem 0.75rem
    &__title
      margin-block-start: 0
      margin-block-end: 0
      text-transform: uppercase
      +for-tablet-portrait-up
        font-size: 1.75rem
        margin-bottom: 1.5rem
    &__button
      margin: 1rem 0
      display: block
      button
        width: 100%
        padding: 0.75rem
        text-transform: uppercase
        font-size: 1.625rem
        background-color: $pink
        border: none
        color: black
        font-family: 'Anonymous Pro', monospace
        font-weight: 900
        +for-desktop-up
          font-size: 1.75rem