html
  font-size: 16px
  font-family: 'Anonymous Pro', monospace
  body
    color: #c9c9c9
    a
      color: $orange
    h1, h2, h3, h4, h5, h6
      font-family: 'Quantico', sans-serif
    h1
      &:first-child
        margin-block-start: 0