---
layout: default
---

{{content}}

<div class="archive">
   <a href="/comic/chapter-1/page-0">
      <img src="/assets/img/archive/contents1.jpeg"
   /></a>
   <a href="/comic/chapter-2/page-0">
      <img src="/assets/img/archive/contents2.jpeg" />
   </a>
   <a href="/comic/chapter-3/page-0">
      <img src="/assets/img/archive/contents3.jpeg" />
   </a>
   <a href="/comic/chapter-4/page-0">
      <img src="/assets/img/archive/contents4.jpeg" />
   </a>
   <a href="/comic/chapter-5/page-0">
      <img src="/assets/img/archive/contents5.jpeg" />
   </a>
   <a href="/comic/chapter-6/page-0">
      <img src="/assets/img/archive/contents6.jpeg" />
   </a>
   <a href="/comic/chapter-7/page-0">
      <img src="/assets/img/archive/contents7.jpeg" />
   </a>
   <a href="/comic/wirepedia/">
      <img src="/assets/img/archive/contentswirepedia.jpeg" />
   </a>
   <img src="/assets/img/archive/contentsextras.jpeg" />
</div>
