---
layout: default
---

<div class="archive mobile--black">
   <div class="archive__header">
      <img
         class="archive__header__image"
         src="/assets/img/site/menu_archive_hover.png"
      />
      <h2 class="archive__header__title">Archive</h2>
   </div>

   <h3 class="archive__chapter__header">{% if page.chapter %}Chapter {{page.chapter}}{% else %}{{page.type}}{% endif %}</h3>
   {{ content }} 
   
   {% include paginate.html %}
   
   {% for page in paginator.posts %}
   {% include page.html %}
   {% endfor %}
   
   {% include paginate.html %}
</div>
