<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="page__wrapper">
<header>
  <!-- <h1>Drugs and Wires</h1> -->
  {% include header.html %}

  {% include navigation.html %}

  {% include newsbox.html %}
</header>
<div class="page__main__wrapper">
{{ content }}
</div>
<footer>
  <div class="footer">
    <div class="footer__sticker">
    <img src="/assets/img/site/y2ksticker.jpg" />
  </div>
 <p class="footer__copyright"> © 2015–2021 Drugs and Wires – Cyberpunk Misadventures in the Dark Future of 1995 </p>
  <span></span>
</div>
</footer>
</div>
</body>
<script src="/assets/js/keyboardNav.js"></script>
<script src="/assets/js/mobileMenu.js"></script>
<script src="/assets/js/gallery.js"></script>
</html>