<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#39407a">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://cdn.hiveworkscomics.com/jumpbar.css">

  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <!-- Fallback code for Hiveworks ads --> 
  <script src="/assets/js/hiveworksAlt.js"></script>

</head>

<body>
  <div class="page__wrapper">
    <div id="cc-comic"></div>
<header>
  <!-- <h1>Drugs and Wires</h1> -->
  {% include header.html %}

  {% include navigation.html %}

  <div class="hiveworks hiveworks__wrapper">
    <div class="hiveworks--720" id="top-space"><span></span></div>
  </div>



{% include newsbox.html %}

{{ content }}
</div>
<footer>
  <div class="footer">
    <div class="footer__background"></div>
    <div class="footer__sticker">
    <img src="/assets/img/site/y2ksticker.jpg" />
  </div>
 <p class="footer__copyright"> © 2015–2021 Drugs and Wires – Cyberpunk Misadventures in the Dark Future of 1995 </p>
  <span></span>
</div>
</footer>
</body>
<script src="/assets/js/keyboardNav.js"></script>
<script src="/assets/js/mobileMenu.js"></script>
<script>usealtstuff();</script>
</html>