---
layout: default
---

<div class="news mobile--black">
   <div class="news__header">
      <img
         class="news__header__image"
         src="/assets/img/site/menu_news_hover.png"
      />
      <h2 class="news__header__title">News</h2>
   </div>
   <div class="news__content">
      {{ content }}
   </div>
   {% include paginate.html type="numbers" path="news" %}
   <div class="news__list">
   {% for post in paginator.posts %}
      <div class="news__item">
         <div class="news__item__image">
            {% if post.image %}
               <img src="/assets/img/news/{{post.image}}" />
            {% endif %}
         </div>
         <div class="news__item__info">
            <h3 class="news__item__title">
               <a href="{{post.url}}">{{post.title}}</a>
            </h3>

            <!-- <strong>{{post.date | date: "%b %e %Y"}}</strong> -->

            <p class="news__item__summary">{{post.summary}}</p>

            <a href="{{post.url}}" class="news__item__button"
               ><button>Read more ></button></a
            >
         </div>
      </div>
   {% endfor %}
   </div>
   {% include paginate.html type="numbers" path="news" %}
</div>
