---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script type="text/javascript">

function linkToRandomBlogPost() {
	var allPosts = [{% for post in site.categories.comic %}"{{ post.url }}"{% unless post.previous == nil %},{% endunless %}{% endfor %}];

var randomPostLink = allPosts[Math.floor(Math.random() * allPosts.length)];

return randomPostLink;
}

location.replace(linkToRandomBlogPost())


    
    </script>
</head>

<body>
  <div class="page__wrapper">
<header>
  {% include header.html %}

  {% include navigation.html %}
</header>
<div class="page__main__wrapper">
{{ content }}
</div>
<footer>
  <div class="footer">
 <p> © 2015–2021 Drugs and Wires – Cyberpunk Misadventures in the Dark Future of 1995 </p>
</div>
</footer>
</div>
</body>

</html>