<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>D&W - Progress Tracker</title>
  <link rel="stylesheet" href="/assets/css/tracker.css">
</head>

<body>

<header>
<h1>D&W Website Progress Tracker</h1>
</header>

<main>

<p>Hello, and welcome to an insight into my brain... I crave the sweet dopamine of updating my charts and I figured it might be useful to share! But feel free to ignore if this is not of interest lol</p>
<p>
    Milestones are listed in the table below - give me a prod if I've missed anything out, it's probably in my brain but not written down!
</p>
<p><strong>Re: the 'ready for sign off' stage</strong>, I'll send an email summary when I need official sign-off on anything, best to do it in blocks rather than a bit at a time</p>
<p>- jazz xoxo</p>
<p>p.s. best viewed on desktop, I've not yet made this particularly mobile responsive as its mainly for my use 8D</p><br/>
<br/>
{% assign outof = site.data.tracker | size %}
<h2>Stage 1</h2>
<h3>Research and planning (40% weighting)</h3>
<p><strong>Timescale:</strong> Aug 1 - Sep 30</p>
{% assign completed_1 = site.data.tracker | where: "Stage 1", "Yes" | size %}
{% assign percentage_1 = completed_1 | times: 100 | divided_by: outof %}
{{percentage_1}}%
<div class="progress progress--1"><div class="progress__bar" style="width:{{percentage_1}}%"></div></div>
<h2>Stage 2</h2>
<h3>Work underway (30% weighting)</h3>
<p><strong>Timescale:</strong> Aug 1 - Sep 30</p>
{% assign completed_2 = site.data.tracker | where: "Stage 2", "Yes" | size %}
{% assign percentage_2 = completed_2 | times: 100 | divided_by: outof %}
{{percentage_2}}%
<div class="progress progress--2"><div class="progress__bar" style="width:{{percentage_2}}%"></div></div>
<h2>Stage 3</h2>
<p><strong>Timescale:</strong> Sep 14 - Oct 7 (main site), 2 years for post-launch bug fix and help</p>
<h3>Completed and ready for sign-off (20% weighting)</h3>
{% assign completed_3 = site.data.tracker | where: "Stage 3", "Yes" | size %}
{% assign percentage_3 = completed_3 | times: 100 | divided_by: outof %}
{{percentage_3}}%
<div class="progress progress--3"><div class="progress__bar" style="width:{{percentage_3}}%"></div></div>
<h2>Stage 4</h2>
<h3>Signed off (10% weighting)</h3>
<p><strong>Timescale:</strong> Sep 20 - Oct 14</p>
{% assign completed_4 = site.data.tracker | where: "Stage 4", "Yes" | size %}
{% assign percentage_4 = completed_4 | times: 100 | divided_by: outof %}
{{percentage_4}}%
<div class="progress progress--4"><div class="progress__bar" style="width:{{percentage_4}}%"></div></div>
<h2>OVERALL PROJECT PROGRESS</h2>
{% assign project_1 = percentage_1 | times: 0.4 %}
{% assign project_2 = percentage_2 | times: 0.3 %}
{% assign project_3 = percentage_3 | times: 0.2 %}
{% assign project_4 = percentage_4 | times: 0.1 %}
{% assign project_completed = project_1 | add: project_2 | add: project_3 | add: project_4 %}
{{project_completed}}%
<div class="progress progress--5"><div class="progress__bar" style="width:{{project_completed}}%"></div></div>

  <div id="tracker-container">
 <!-- {{ site.data.tracker }} -->

 <table>
  {% for row in site.data.tracker %}
    {% if forloop.first %}
    <tr>
      {% for pair in row %}
      {% if pair[0] == "Notes" %}
      {% else %}
        <th>{{ pair[0] }}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% endif %}

    <tr class="{{row.Category | downcase | remove:" "}}">
      {% for pair in row %}
      {% if pair[0] == "Notes" %}
      {% else %}
      {% if pair[1] == "Yes" %}
      	
      <td class="symbol tick">&#10004;</td>
            {% elsif pair[1] == "No" %}
           <td class="symbol"> &#x2716;</td>
            {% else %}
           <td> {{ pair[1] }}</td>
            {% endif %}
    
        {% endif %}
      {% endfor %}
    </tr>


  {% endfor %}
</table>

  </div>
</main>

<footer>

</footer>


</body>

</html>