<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>D&W - Progress Tracker</title>
  <link rel="stylesheet" href="/assets/css/tracker.css">
</head>

<body>
  <div class="page__wrapper">
<header>
<h1>D&W Website Progress Tracker</h1>
</header>

<main>
  Tracking
</main>

<footer>

</footer>
</div>
</body>

</html>